<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[笑哈哈]</key>
	<string>face1@2x.png</string>
	<key>[转发]</key>
	<string>face2@2x.png</string>
	<key>[江南style]</key>
	<string>face3@2x.png</string>
	<key>[偷乐]</key>
	<string>face4@2x.png</string>
	<key>[bm可爱]</key>
	<string>face5@2x.png</string>
	<key>[gst耐你]</key>
	<string>face6@2x.png</string>
	<key>[lt切克闹]</key>
	<string>face7@2x.png</string>
	<key>[moc转发]</key>
	<string>face8@2x.png</string>
	<key>[BOBO爱你]</key>
	<string>face9@2x.png</string>
	<key>[ppb鼓掌]</key>
	<string>face10@2x.png</string>
	<key>[din推撞]</key>
	<string>face11@2x.png</string>
	<key>[放假啦]</key>
	<string>face12@2x.png</string>
	<key>[草泥马]</key>
	<string>face13@2x.png</string>
	<key>[神马]</key>
	<string>face14@2x.png</string>
	<key>[浮云]</key>
	<string>face15@2x.png</string>
	<key>[给力]</key>
	<string>face16@2x.png</string>
	<key>[围观]</key>
	<string>face17@2x.png</string>
	<key>[威武]</key>
	<string>face18@2x.png</string>
	<key>[熊猫]</key>
	<string>face19@2x.png</string>
	<key>[兔子]</key>
	<string>face20@2x.png</string>
	<key>[奥特曼]</key>
	<string>face21@2x.png</string>
	<key>[囧]</key>
	<string>face22@2x.png</string>
	<key>[互粉]</key>
	<string>face23@2x.png</string>
	<key>[礼物]</key>
	<string>face24@2x.png</string>
	<key>[呵呵]</key>
	<string>face25@2x.png</string>
	<key>[嘻嘻]</key>
	<string>face26@2x.png</string>
	<key>[哈哈]</key>
	<string>face27@2x.png</string>
	<key>[可爱]</key>
	<string>face28@2x.png</string>
	<key>[可怜]</key>
	<string>face29@2x.png</string>
	<key>[挖鼻屎]</key>
	<string>face30@2x.png</string>
	<key>[吃惊]</key>
	<string>face31@2x.png</string>
	<key>[害羞]</key>
	<string>face32@2x.png</string>
	<key>[挤眼]</key>
	<string>face33@2x.png</string>
	<key>[闭嘴]</key>
	<string>face34@2x.png</string>
	<key>[鄙视]</key>
	<string>face35@2x.png</string>
	<key>[爱你]</key>
	<string>face36@2x.png</string>
	<key>[泪]</key>
	<string>face37@2x.png</string>
	<key>[偷笑]</key>
	<string>face38@2x.png</string>
	<key>[亲亲]</key>
	<string>face39@2x.png</string>
	<key>[生病]</key>
	<string>face40@2x.png</string>
	<key>[太开心]</key>
	<string>face41@2x.png</string>
	<key>[懒得理你]</key>
	<string>face42@2x.png</string>
	<key>[右哼哼]</key>
	<string>face43@2x.png</string>
	<key>[左哼哼]</key>
	<string>face44@2x.png</string>
	<key>[嘘]</key>
	<string>face45@2x.png</string>
	<key>[衰]</key>
	<string>face46@2x.png</string>
	<key>[委屈]</key>
	<string>face47@2x.png</string>
	<key>[吐]</key>
	<string>face48@2x.png</string>
	<key>[打哈欠]</key>
	<string>face49@2x.png</string>
	<key>[抱抱]</key>
	<string>face50@2x.png</string>
	<key>[怒]</key>
	<string>face51@2x.png</string>
	<key>[疑问]</key>
	<string>face52@2x.png</string>
	<key>[馋嘴]</key>
	<string>face53@2x.png</string>
	<key>[拜拜]</key>
	<string>face54@2x.png</string>
	<key>[思考]</key>
	<string>face55@2x.png</string>
	<key>[汗]</key>
	<string>face56@2x.png</string>
	<key>[困]</key>
	<string>face57@2x.png</string>
	<key>[睡觉]</key>
	<string>face58@2x.png</string>
	<key>[钱]</key>
	<string>face59@2x.png</string>
	<key>[失望]</key>
	<string>face60@2x.png</string>
	<key>[酷]</key>
	<string>face61@2x.png</string>
	<key>[花心]</key>
	<string>face62@2x.png</string>
	<key>[哼]</key>
	<string>face63@2x.png</string>
	<key>[鼓掌]</key>
	<string>face64@2x.png</string>
	<key>[晕]</key>
	<string>face65@2x.png</string>
	<key>[悲伤]</key>
	<string>face66@2x.png</string>
	<key>[抓狂]</key>
	<string>face67@2x.png</string>
	<key>[黑线]</key>
	<string>face68@2x.png</string>
	<key>[阴险]</key>
	<string>face69@2x.png</string>
	<key>[怒骂]</key>
	<string>face70@2x.png</string>
	<key>[心]</key>
	<string>face71@2x.png</string>
	<key>[伤心]</key>
	<string>face72@2x.png</string>
	<key>[猪头]</key>
	<string>face73@2x.png</string>
	<key>[ok]</key>
	<string>face74@2x.png</string>
	<key>[耶]</key>
	<string>face75@2x.png</string>
	<key>[good]</key>
	<string>face76@2x.png</string>
	<key>[不要]</key>
	<string>face77@2x.png</string>
	<key>[赞]</key>
	<string>face78@2x.png</string>
	<key>[来]</key>
	<string>face79@2x.png</string>
	<key>[弱]</key>
	<string>face80@2x.png</string>
	<key>[蜡烛]</key>
	<string>face81@2x.png</string>
	<key>[钟]</key>
	<string>face82@2x.png</string>
	<key>[话筒]</key>
	<string>face83@2x.png</string>
	<key>[蛋糕]</key>
	<string>face84@2x.png</string>
</dict>
</plist>
